# Requires Python 3.11
streamlit==1.33.0
fastapi==0.110.0
uvicorn==0.29.0
numpy==1.26.4
pandas==2.2.2
faiss-cpu==1.7.4
requests
pandas==2.2.2 
python-dateutil
regex      
python-dotenv
langchain==0.3.28
langchain-community==0.3.28
langchain-core>=0.3.28,<0.4
langchain-openai
langchain-experimental==0.3.4
docling
docling-core
pydantic
streamlit
youtube_search
youtube-transcript-api
semanticscholar
wikipedia
pytube
langchain-chroma
openai
scikit-learn
rank-bm25
rouge-score
bert_score 
fastapi
uvicorn
pdfplumber
pyMuPDF